@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 font-inter antialiased;
}

html[dir="rtl"] body {
  font-family: theme('fontFamily.cairo');
}

.gradient-bg {
  background: radial-gradient(circle at top, rgba(122,90,248,0.3), transparent 60%),
    radial-gradient(circle at bottom, rgba(95,57,219,0.3), transparent 60%);
}
